* {
    margin: 0;
}

.infoPC {
    text-align: center;
    position: absolute;
    left: 72.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.infoPC h1 {
    font-size: 60px;
    text-decoration: underline;
}

.cont {
    display: flex;
    flex-direction: row;
    width: auto;
}

.PCLogo {
    max-width: 100%;
}

.PCMain {
    max-width: 100%;
}

.MainUnifyPNG {
    position: relative;
    z-index: 1;
}

.info {
    width: 100%;
    position: absolute;
    color: black;
    text-align: center;
    top: 20px;
    font-size: 13px;
    padding: 0 3rem 0 3rem;
    margin-top: 2%;
    /* z-index: -2; */
}

.info h1 {
    font-size: 20px;
    text-decoration: underline;
    margin-top: 2%;
}

.cardcont {
    align-items: center;
    display: flex;
    justify-content: center;
    /* padding: 1rem; */
    justify-content: space-evenly;

    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

/* .cardcont1, .cardcont2{
    width: 50v;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
} */

@media (min-width: 375px) {
    .info {
        font-size: 16px;
        top: 20px;
        padding: 0 3rem 0 3rem;
    }

    .info h1 {
        font-size: 25px;
        text-decoration: underline;
    }

    .card {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 425px) {
    .info {
        font-size: 18px;
        top: 0vh;
        padding: 1rem 3rem 0 3rem;
    }

    .info h1 {
        font-size: 30px;
        text-decoration: underline;
    }
}

@media (min-width: 470px) {
    .info {
        font-size: 20px;
        top: 0vh;
        padding: 0 3rem 0 3rem;
    }

    .info h1 {
        font-size: 30px;
        text-decoration: underline;
    }
}

@media (min-width: 520px) {
    .info {
        font-size: 22px;
        top: 0vh;
        padding: 0 3.2rem 0 3.2rem;
    }

    .info h1 {
        font-size: 35px;
        text-decoration: underline;
    }
}

@media (min-width: 560px) {
    .info {
        font-size: 25px;
        top: 0vh;
        padding: 0 4.5rem 0 4.5rem;
    }

    .info h1 {
        font-size: 35px;
        text-decoration: underline;
    }
}

@media (min-width: 768px) {
    .info {
        font-size: 35px;
        top: 0vh;
        padding: 0 6rem 0 6rem;
    }

    .info h1 {
        font-size: 45px;
        text-decoration: underline;
    }
}

@media (min-width: 900px) {
    .info {
        font-size: 33px;
        top: 0vh;
        padding: 0 6rem 0 6rem;
    }

    .info h1 {
        font-size: 45px;
        text-decoration: underline;
    }
}

@media (min-width: 1024px) {
    .info {
        font-size: 35px;
        top: 0vh;
        padding: 0 7rem 0 7rem;
    }

    .info h1 {
        font-size: 45px;
        text-decoration: underline;
        margin-bottom: 30px;
    }

    .card {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 1440px) {
    .infoPC {
        font-size: 18px;
        top: 35%;
    }

    .infoPC h1 {
        font-size: 48px;
        text-decoration: underline;
    }
}

@media (max-width: 1370px) {
    .infoPC {
        font-size: 16px;
        top: 32.5%;
    }

    .infoPC h1 {
        font-size: 48px;
        text-decoration: underline;
    }
}

@media (max-width: 1280px) {
    .infoPC {
        font-size: 16px;
        top: 30%;
    }

    .infoPC h1 {
        font-size: 36px;
        text-decoration: underline;
    }
}

@media (max-width: 1160px) {
    .infoPC {
        font-size: 14px;
        top: 26%;
    }

    .infoPC h1 {
        font-size: 24px;
        text-decoration: underline;
    }

    .cardcont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        height: 100%;
    }
}

.card-front__heading {
    font-size: 1.5rem;
    margin-top: 0.25rem;
}

/* Main heading for inside page */
.inside-page__heading {
    padding-bottom: 1rem;
    width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: 0.2rem;
}

.inside-page__heading--city,
.card-front__text-view--city {
    color: #fa7f67;
}

.inside-page__heading--ski,
.card-front__text-view--ski {
    color: #fa7f67;
}

.inside-page__heading--beach,
.card-front__text-view--beach {
    color: #fa7f67;
}

.inside-page__heading--camping,
.card-front__text-view--camping {
    color: #fa7f67;
}

/* Front cover */

.card-front__tp {
    color: #fafbfa;
}

/* For pricing text on card front cover */
.card-front__text-price {
    font-size: 1.2rem;
    margin-top: -0.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
    color: #333;
}

/* Icons ===========================================*/

.card-front__icon {
    fill: #fafbfa;
    font-size: 3vw;
    height: 3.25rem;
    margin-top: -0.5rem;
    width: 3.25rem;
}

/* Buttons =================================================*/

.inside-page__btn {
    background-color: transparent;
    border: 3px solid;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    overflow: hidden;
    padding: 0.7rem 0.75rem;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 90%;
    z-index: 10;
}

.inside-page__btn::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transition: all 0.3s ease;
    width: 100%;
    z-index: -1;
}

.inside-page__btn--city {
    border-color: #fa7f67;
    color: #fa7f67;
}

.inside-page__btn--city::before {
    background-color: #fa7f67;
}

.inside-page__btn--ski {
    border-color: #fa7f67;
    color: #fa7f67;
}

.inside-page__btn--ski::before {
    background-color: #fa7f67;
}

.inside-page__btn--beach {
    border-color: #fa7f67;
    color: #fa7f67;
}

.inside-page__btn--beach::before {
    background-color: #fa7f67;
}

.inside-page__btn--camping {
    border-color: #fa7f67;
    color: #fa7f67;
}

.inside-page__btn--camping::before {
    background-color: #fa7f67;
}

.inside-page__btn:hover {
    color: #fafbfa;
}

.inside-page__btn:hover::before {
    transform: scaleY(1);
}

/* Layout Structure=========================================*/

.main {
    background: linear-gradient(to bottom right, #eee8dd, #e3d9c6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

/* Container to hold all cards in one place */
.card-area {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-evenly;
    padding: 1rem;
}

/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

/* A container to hold the flip card and the inside page */
.card {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
    height: 15rem;
    position: relative;
    transition: all 1s ease;
    width: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
    height: 15rem;
    perspective: 100rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    visibility: hidden;
    width: 15rem;
    z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
    visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
    height: 100%;
    position: absolute;
    right: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease;
    width: 100%;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
    background-color: #fafbfa;
    height: 15rem;
    width: 15rem;
}

/* Front side's top section */
.card-front__tp {
    align-items: center;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 90%,
        57% 90%,
        50% 100%,
        43% 90%,
        0 90%
    );
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    padding: 0.75rem;
}

.card-front__tp--city {
    /* background: linear-gradient(to bottom,
            #ff73b9,
            #ff40a1); */
    background: -webkit-radial-gradient(
        circle,
        hsla(58, 100%, 68%, 1) 0%,
        hsla(33, 100%, 53%, 1) 100%
    );
}

.card-front__tp--ski {
    /* background: linear-gradient(to bottom,
            #47c2d7,
            #279eb2); */
    background: -webkit-radial-gradient(
        circle,
        hsla(58, 100%, 68%, 1) 0%,
        hsla(33, 100%, 53%, 1) 100%
    );
}

.card-front__tp--beach {
    /* background: linear-gradient(to bottom,
            #fb9b88,
            #f86647); */
    background: -webkit-radial-gradient(
        circle,
        hsla(58, 100%, 68%, 1) 0%,
        hsla(33, 100%, 53%, 1) 100%
    );
}

.card-front__tp--camping {
    /* background: linear-gradient(to bottom,
            #00db93,
            #00b97d); */
    background: -webkit-radial-gradient(
        circle,
        hsla(58, 100%, 68%, 1) 0%,
        hsla(33, 100%, 53%, 1) 100%
    );
}

/* Front card's bottom section */
.card-front__bt {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
    background-color: #fafbfa;
    transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
    clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
    height: auto;
    min-height: 100%;
    object-fit: cover;
    width: 100%;
}

/* Inside page */

.inside-page {
    background-color: #fafbfa;
    box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
    height: 100%;
    padding: 1rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    width: 15rem;
    z-index: 1;
}

.inside-page__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
    box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
    width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
    transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
    box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1);
}

/* Footer ====================================*/

.footer {
    background-color: #333;
    margin-top: 3rem;
    padding: 1rem 0;
    width: 100%;
}

.footer-text {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.cardcontainersm {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1028px) {
    /* Adjust font sizes */
    .card-front__heading,
    .inside-page__heading,
    .inside-page__heading--city,
    .card-front__text-view,
    .inside-page__heading--ski,
    .inside-page__heading--beach,
    .inside-page__heading--camping,
    .card-front__text-price,
    .card-front__icon,
    .inside-page__btn {
        font-size: 1.2rem;
        /* Adjust as needed */
        padding-bottom: 0rem;
    }

    .inside-page__text {
        font-size: 12px;
    }

    .card-front__icon {
        font-size: 2.5vw;
        /* Adjust as needed */
        height: 2.5rem;
        /* Adjust as needed */
        width: 2.5rem;
        /* Adjust as needed */
    }

    .inside-page__btn {
        font-size: 1rem;
        /* Adjust as needed */
        padding: 0.5rem 0.6rem;
        /* Adjust as needed */
        width: 80%;
        /* Adjust as needed */
    }

    /* Adjust card and container sizes */
    .card {
        height: 13rem;
        /* Adjust as needed */
        width: 10rem;
        /* Adjust as needed */
    }

    .flip-card,
    .flip-card__container,
    .card-front,
    .card-back {
        height: 13rem;
        /* Adjust as needed */
        width: 10rem;
        /* Adjust as needed */
    }

    .inside-page {
        width: 10rem;
        /* Adjust as needed */
        height: 13rem;
    }

    /* Adjust container layout */
    .card-area {
        flex-wrap: wrap;
        /* Allow wrapping for smaller screens */
        padding: 0.5rem;
        /* Adjust padding as needed */
    }

    .card-section {
        flex-direction: column;
        /* Stack cards vertically */
        height: auto;
        /* Adjust height as needed */
        width: auto;
        /* Adjust width as needed */
    }

    /* Adjust main layout */
    .main {
        height: auto;
        /* Adjust height as needed */
    }

    /* Adjust padding and margins */
    .inside-page__container {
        padding: 0rem;
        /* Adjust padding as needed */
        justify-content: space-around;
    }

    .card-front__tp {
        padding: 0rem;
        /* Adjust padding as needed */
        height: 10.5rem;
    }

    .inside-page__btn {
        margin-top: 0rem;
        /* Adjust margin as needed */
    }

    .card:hover {
        box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
        width: 20rem;
    }
}

@media screen and (max-width: 376px) {
    /* Adjust font sizes */
    .card-front__heading,
    .inside-page__heading,
    .inside-page__heading--city,
    .inside-page__heading--ski,
    .inside-page__heading--beach,
    .inside-page__heading--camping,
    .card-front__text-price,
    .card-front__icon,
    .inside-page__btn {
        font-size: 0.8rem;
        /* Adjust as needed */
        padding-bottom: 0rem;
    }

    .card-front__text-view {
        font-size: 0.6rem;
        margin-top: 0;
    }

    .card-front__heading {
        margin-top: 0.05rem;
    }

    .card-front__tp {
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 95%,
            56% 95%,
            50% 100%,
            43% 95%,
            0 95%
        );
    }

    .inside-page__text {
        font-size: 6px;
    }

    .card-front__icon {
        font-size: 0.5vw;
        /* Adjust as needed */
        height: 2.5rem;
        /* Adjust as needed */
        width: 2.5rem;
        /* Adjust as needed */
    }

    .inside-page__btn {
        font-size: 0.6rem;
        /* Adjust as needed */
        padding: 0.25rem 0.3rem;
        /* Adjust as needed */
        width: 80%;
        /* Adjust as needed */
    }

    /* Adjust card and container sizes */
    .card {
        height: 8rem;
        /* Adjust as needed */
        width: 6rem;
        /* Adjust as needed */
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .flip-card,
    .flip-card__container,
    .card-front,
    .card-back {
        height: 8rem;
        /* Adjust as needed */
        width: 6rem;
        /* Adjust as needed */
    }

    .inside-page {
        width: 6rem;
        /* Adjust as needed */
        height: 8rem;

        padding: 0.1rem;
    }

    /* Adjust container layout */
    .card-area {
        flex-wrap: wrap;
        /* Allow wrapping for smaller screens */
        padding: 0.5rem;
        /* Adjust padding as needed */
    }

    .card-section {
        flex-direction: column;
        /* Stack cards vertically */
        height: auto;
        /* Adjust height as needed */
        width: auto;
        /* Adjust width as needed */
    }

    /* Adjust main layout */
    .main {
        height: auto;
        /* Adjust height as needed */
    }

    /* Adjust padding and margins */
    .inside-page__container {
        padding: 0rem;
        /* Adjust padding as needed */
        justify-content: space-around;
    }

    .card-front__tp {
        padding: 0rem;
        /* Adjust padding as needed */
        height: 5.5rem;
    }

    .inside-page__btn {
        margin-top: 0rem;
        /* Adjust margin as needed */
    }

    .card:hover {
        box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
        width: 10rem;
    }
}

@media screen and (min-width: 377px) and (max-width: 430px) {
    /* Adjust font sizes */
    .card-front__heading,
    .inside-page__heading,
    .inside-page__heading--city,
    .inside-page__heading--ski,
    .inside-page__heading--beach,
    .inside-page__heading--camping,
    .card-front__text-price,
    .card-front__icon,
    .inside-page__btn {
        font-size: 0.8rem;
        /* Adjust as needed */
        padding-bottom: 0rem;
    }

    .card-front__text-view {
        font-size: 0.6rem;
        margin-top: 0;
    }

    .card-front__heading {
        margin-top: 0.05rem;
    }

    .card-front__tp {
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 95%,
            56% 95%,
            50% 100%,
            43% 95%,
            0 95%
        );
    }

    .inside-page__text {
        font-size: 9px;
    }

    .card-front__icon {
        font-size: 0.5vw;
        /* Adjust as needed */
        height: 2.5rem;
        /* Adjust as needed */
        width: 2.5rem;
        /* Adjust as needed */
    }

    .inside-page__btn {
        font-size: 0.8rem;
        /* Adjust as needed */
        padding: 0.25rem 0.3rem;
        /* Adjust as needed */
        width: 80%;
        /* Adjust as needed */
    }

    /* Adjust card and container sizes */
    .card {
        height: 10rem;
        /* Adjust as needed */
        width: 8rem;
        /* Adjust as needed */
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .flip-card,
    .flip-card__container,
    .card-front,
    .card-back {
        height: 10rem;
        /* Adjust as needed */
        width: 8rem;
        /* Adjust as needed */
    }

    .inside-page {
        width: 8rem;
        /* Adjust as needed */
        height: 10rem;

        padding: 0.1rem;
    }

    /* Adjust container layout */
    .card-area {
        flex-wrap: wrap;
        /* Allow wrapping for smaller screens */
        padding: 0.5rem;
        /* Adjust padding as needed */
    }

    .card-section {
        flex-direction: column;
        /* Stack cards vertically */
        height: auto;
        /* Adjust height as needed */
        width: auto;
        /* Adjust width as needed */
    }

    /* Adjust main layout */
    .main {
        height: auto;
        /* Adjust height as needed */
    }

    /* Adjust padding and margins */
    .inside-page__container {
        padding: 0rem;
        /* Adjust padding as needed */
        justify-content: space-around;
    }

    .card-front__tp {
        padding: 0rem;
        /* Adjust padding as needed */
        height: 8rem;
    }

    .inside-page__btn {
        margin-top: 0rem;
        /* Adjust margin as needed */
    }

    .card:hover {
        box-shadow: -0.1rem 1.7rem 8.6rem -3.2rem rgba(0, 0, 0, 0.75);
        width: 16rem;
    }
}
