.BracketPCEulympic{
    height: 150vh;
    width: 100vw;
}

.IsiBracketPC{
    position: absolute;
    top: 6rem;
    left: 8rem;
    width: 90rem;
    height: 51rem;
    background-color: rgba(255, 255, 255, 0.7) ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.bracket{
    width: 65vw;
    height: 65vh;
}

.JudulBracketPC {
    color: rgb(60, 59, 96);
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
    margin-bottom: 1.5rem;
}

@media (max-width: 1600px) {
    .IsiBracketPC{
        position: absolute;
        top: 6rem;
        left: 8rem;
        width: 49rem;
        height: 51rem;
        background-color: rgba(255, 255, 255, 0.7) ;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
    }

    .sponsor {
        position: absolute;
        top: 60rem;
        left: 22rem;
    }
}

