* {
    margin: 0;
}

.LogoEulympicPNG {
    position: relative;
    z-index: 1;
}

.info {
    width: 100%;
    position: absolute;
    color: #6c241a;
    text-align: center;
    top: 20px;
    font-size: 13px;
    padding: 0 3rem 0 3rem;
    /* z-index: -2; */
}

.textEulympic{
    text-align: justify;
}

.info h1 {
    font-size: 20px;
    text-decoration: underline;
}

.LogoPCEulympic {
    width: 43vw;
    height: auto;
    display: block;
}

.IsiPCEulympic {
    width: 57vw;
    height: auto;
    display: block;
}

.infoPCEulympic {
    position: absolute;
    top: 42%; 
    left: 72%; 
    transform: translate(-50%, -50%); 
    width: 100%;
    max-width: 45%; 
    color: #6c241a;
    text-align: justify;
    padding: 0 3rem; 
    font-size: 1.6rem;
}

.JudulPCEulympic {
    text-align: center;
    border-bottom: 1px solid #6c241a;
    margin: 0 auto;
    margin-bottom: 4rem;
    font-size: 3.9rem;
    width: 28rem;
    height: 6.5rem;
}

@media (min-width: 320px) {
    .info {
        font-size: 0.85rem;
        top: -1rem;
        padding: 0 3rem 0 3rem;
    }

    .info h1 {
        font-size: 25px;
        margin-bottom: 1rem;
        text-decoration: underline;
    }
}

@media (min-width: 360px) {
    .info {
        font-size: 16px;
        top: -1rem;
        padding: 0 3rem 0 3rem;
    }

    .info h1 {
        font-size: 25px;
        margin-bottom: 1rem;
        text-decoration: underline;
    }
}

@media (min-width: 410px) {
    .info {
        font-size: 1.1rem;
        top: 0vh;
        padding: 0 3rem 0 3rem;
    }

    .info h1 {
        font-size: 30px;
        text-decoration: underline;
    }
}

@media (min-width: 470px) {
    .info {
        font-size: 20px;
        top: 0vh;
        padding: 0 3rem 0 3rem;
    }

    .info h1 {
        font-size: 30px;
        text-decoration: underline;
    }
}

@media (min-width: 520px) {
    .info {
        font-size: 22px;
        top: 0vh;
        padding: 0 3.2rem 0 3.2rem;
    }

    .info h1 {
        font-size: 35px;
        text-decoration: underline;
    }
}

@media (min-width: 560px) {
    .info {
        font-size: 25px;
        top: 0vh;
        padding: 0 3.2rem 0 3.2rem;
    }

    .info h1 {
        font-size: 35px;
        text-decoration: underline;
    }
}

@media (min-width: 768px) {
    .info {
        font-size: 35px;
        top: 0vh;
        padding: 0 4.3rem 0 4.3rem;
    }

    .info h1 {
        font-size: 45px;
        text-decoration: underline;
    }
}

@media (min-width: 900px) {
    .info {
        font-size: 33px;
        top: 0vh;
        padding: 0 6rem 0 6rem;
    }

    .info h1 {
        font-size: 45px;
        text-decoration: underline;
    }
}

@media (min-width: 1024px) {
    .info {
        font-size: 35px;
        top: 0vh;
        padding: 0 7rem 0 7rem;
    }

    .info h1 {
        font-size: 45px;
        text-decoration: underline;
        margin-bottom: 30px;
    }
}

@media (max-width: 1600px) {
    .infoPCEulympic {
        font-size: 1rem;
        top: 45%;
        max-width: 45%; 
    }
    .JudulPCEulympic {
        font-size: 2.1rem;
        width: 15rem;
        margin-bottom: 2rem;
        height: 4rem;
    }
}
