@font-face {
    font-family: "Akbaal";
    src: local("Akbaal"),
        url("../Assets/Font/akbaal/akbaal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SanFran-Regular";
    src: local("SanFransisco"),
        url("../Assets/Font/SanFransisco/SF-UI-Display-Regular.otf")
            format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SanFranBlack";
    src: local("SanFransiscoBlack"),
        url("../Assets/Font/SanFransisco/SF-UI-Display-Black.otf")
            format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FestivalBudaya";
    src: local("FestivalBudaya"),
        url("../Assets/Font/festival_budaya_xxxi/FestivalBudayaXXXI.otf")
            format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Forum";
    src: local("Forum"),
        url("../Assets/Font/Forum/Forum-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
